<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheets\styles.css">

  <title></title>
</head>
<nav>
  <a href="/">Home</a>
  <a href="/beers">Beers</a>
  <a href="/random-beers">Randon Beers</a></nav>

<body>
  {{{ body }}}
</body>

</html>